navigation-container {
  width: 4%;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
}

#navigation-container:hover {
  width: 10%;
}
@media screen and (min-width: 640px) {
  #navigation-container:hover {
    width: 20%;
    height: 100%;
  }
}

@media screen and (min-width: 768px) {
  #navigation-container:hover {
    width: 15%;
    height: 100%;
  }
}

@media screen and (min-width: 1024px) {
  #navigation-container:hover {
    width: 14%;
    height: 100%;
  }
}
@media screen and (min-width: 1280px) {
  #navigation-container:hover {
    width: 10%;
    height: 100%;
  }
}
.nav-item-name {
  display: none;
  transition: opacity 0.2s ease-in-out;
}

#navigation-container:hover .nav-item-name {
  display: block;
  opacity: 1;
}
